.container{
    width: 600px;
    height:500px;
    position:relative;
    border: 2px solid rgba(255, 0, 0, .2);
}

.box{
    display:inline-block;
    width:300px;
    height: 250px;
    box-sizing: border-box;
}

.container .background-image{
    position:absolute;
    background-image: url('../HTML/img/grass_480.png');
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 7;
}

.circle{
    border-radius: 50%;
    border: 0px solid black;
}

.cbody{
    width:60px;
    height:60px;
    position:absolute;
}


.item1{
    left:50px;
    top:40px;
    background-color:rgb(7, 7, 99);
    z-index: 1;
}

.eye_white{
    width:20px;
    height: 20px;
    position: absolute;
    top:12px;
    left:12px;
    background-color: white;
    z-index: 2;
}

.eye_black{
    width:10px;
    height:10px;
    position:absolute;
    top:4px;
    background-color: black;
}

.item2{
    left:78px;
    top:68px;
    background-color: rgb(9, 9, 142);
    z-index: 3;
}
.item3{
    left:100px;
    top:95px;
    background-color: rgb(26, 26, 180);
    z-index: 5;
}
.item4{
    left:115px;
    top:130px;
    background-color: rgb(88, 88, 197);
    z-index: 6;
}
.item5{
    left:155px;
    top:150px;
    background-color: rgb(149, 149, 225);
    z-index: 8;
}

